*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

h1{
    font-size: 3rem;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

p{
    font-size: 1.4rem;
}

.btn-primary{
    background-color: #E95A08;
    padding: 15px 0;
    color: white;
    font-weight: 600;
    border: none;
}


main{
    width: 80%;
    margin: 30px auto 120px auto;
}

/* header section  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.logo-container{
    width: 15%;
}

.logo-container img{
    width: 100%;
    height: auto;
}

header ul{
    display: flex;
    list-style: none;
    gap: 40px;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

header .first-item a{
    color: rgba(37, 36, 50, 1);
}

header .last-item a{
    color: rgba(0, 0, 0, 0.7);
}

header li a:hover{
    font-weight: 600;
}

/* banner section */

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 80px;
    margin: 120px auto;
}

.banner-section .section-text{
    width: 50%;
}

.banner-section .section-img{
    width: 50%;
}

.banner-section img{
    width: 100%;
    height: auto;
}

.banner-section h1{
    font-size: 4rem;
}

.banner-section p{
    opacity: 0.5;
}

.banner-section h1 span{
    color: rgba(233, 90, 8, 1);
}


/* plant section  */
.plant-section .section-title{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.plant-section span{
    color: rgba(233, 90, 8, 1);
}

.plant-section .section-title p{
    opacity: 0.5;
}

.plant-section .section-title h1{
    margin-bottom: 12px;
}

.plant-section .card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.plant-section img{
    width: 100%;
    height: auto;
}

.plant-section .card-body{
    margin: 20px auto;
    text-align: center;
    color: #111111;
}

.plant-section .card-body .name{
    font-weight: 400;
    line-height: 1.5;
}

.plant-section .card-body .price{
    font-weight: 600;
    line-height: 1.5;
}

.plant-section button{
    width: 100%;
}

/* plant lover section  */

.plant-lover-section{
    display: flex;
    justify-content: space-between;
    margin: 200px auto 120px auto;
    gap: 30px;
}

.plant-lover-section .section-img{
    position: relative;
}

.plant-lover-section .section-img img{
    width: 100%;
}

.plant-lover-section .badge{
    width: 260px; 
    height: 260px;
    position: absolute;
    right: 100;
    top: -21%;
    right: -14%;
} 


.plant-lover-section .badge img{
    width: 100%;
    height: auto;
}

.plant-lover-section .section-text{
    width: 50%;
}

.plant-lover-section h1{
    margin-left: 30px;
    padding: 30px 10px 0 0;
}

.plant-lover-section ul{
    margin-left: 30px;
    opacity: 0.5;
    font-size: 1.4rem;
    padding: 0 10px 0 30px;
}

.plant-lover-section li{
    margin-top: 15px;
}

/* deals section  */

.deals-section{

}


/* join section  */

.join-section{
    height: 70vh;
    background-image: url('../images/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.join-section .container{
    width: 60%;
    margin: auto;
    text-align: center;
}

.join-section h1{
    color: #FFFFFF;
}

.join-section .boxes{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 50px;
    margin-top: 24px;
}

.box1 input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px;
    box-sizing: border-box;
}

.box2 button{
    width: 100%;
    height: 100%;
}



/* mobile responsive design */

@media screen and (max-width: 640px) {
    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

    .btn-primary{
        padding: 10px 0;
        font-weight: 600;
        font-size: 1rem;
    } 
    main{
        width: 90%;
        margin: 15px auto 40px auto;
    }

    header{
        font-size: 1rem;
    }

    .logo-container{
        width: 20%;

    }

    .logo-container img{
        width: 100%;
        height: auto;
    }

    .list-item{
        display: none;
    }

    /* banner section  */

    .banner-section{
        flex-direction: column-reverse;
        margin: 30px auto 65px auto;
    }
    
    .banner-section .section-text{
        width: 100%;
    }
    
    .banner-section .section-img{
        width: 100%;
    }
    
    .banner-section img{
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }
    
    .banner-section h1{
        font-size: 1.5rem;
    }
    
    .banner-section p{
        font-size: 1rem;
    }

    /* plant section  */
    .plant-section .section-title{
        width: 80%;
        margin-bottom: 30px;
    }

    .plant-section .card-section{
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* plant lover section  */

    .plant-lover-section{
        margin: 60px auto 130px auto;
        flex-direction: column;
    }

    .plant-lover-section .badge{
        display: none;
    } 

    .plant-lover-section .section-text{
        padding: 0;
        /* margin-top: 10px; */
    }

    .plant-lover-section ul{
        margin-left: 15px;
        font-size: 1rem;
    }

    .plant-lover-section .section-text{
        width: 100%;
    }
    
    .plant-lover-section h1{
        margin-left: 0;
        padding: 0;
    }
    
    .plant-lover-section ul{
        margin-left: 20px;
        padding: 0;
    }


    /* join section  */

    .join-section{
        height: 40vh;
    }

    .join-section .container{
        width: 90%;
    }

    .join-section .boxes{
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 25px;
        margin-top: 24px;
    }

    
}