*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

h1{
    font-size: 3rem;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

.dark-half{
    color: rgba(0, 0, 0, 0.5);
}

main{
    width: 80%;
    margin: 30px auto 120px auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.logo-container{
    width: 15%;
}

.logo-container img{
    width: 100%;
    height: auto;
}

header ul{
    display: flex;
    list-style: none;
    gap: 40px;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

header .first-item a{
    color: rgba(37, 36, 50, 1);
}

header .last-item a{
    color: rgba(0, 0, 0, 0.7);
}

header li a:hover{
    font-weight: 600;
}


@media screen and (max-width: 640px) {
    h1{
        font-size: 1.5rem;
    }

    main{
        width: 90%;
    }

    header{
        font-size: 1rem;
    }

    .logo-container{
        width: 15%;

    }

    .logo-container img{
        width: 100%;
        height: auto;
    }

    .list-item{
        display: none;
    }
}